
<div class="box session_box">

<div class="time_box session_time">
<div class="time">
<h1><%= session.time %></h1>
<h2>hours</h2>
</div>
</div>

<div class="display_box">
<h3>
  <%= session.name %>
</h3>

<p>
  <%= session.description %>
</p>



<p>
<%= link_to 'Remove', [session.passion, session], :confirm => 'Are you sure?', :method => :delete %>
</p>

</div></div>