
body{
	background: url('/images/practice.png') no-repeat #2B2B2B;
	font-family: helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}

.page-wrapper {
	text-align:left;
	width: 900px;
	margin:0px auto;
}

.top-bar{
	height: 30px;
}

h1, h2{
	color: #F8FAB4;
	
}

.box h1, .box h2{
margin:0;	
}

.box h1 a{
		color: #F8FAB4;
		text-decoration: none;

}

h3{
	color: #ff6363;
}


p, li, table, label{
	color: #DEDEDE;
}

a{
	color: #CCCC4E;
}


pre {
 
  padding: 10px;
  font-size: 11px;
}



div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


.box{
	background: #444;
	margin-bottom: 2px;
font-size: 90%;
padding: 20px;
}

